.header {
  min-height: 88.94px;
  padding-top: 34px;
  display: flex;
  justify-content: center;
}

.header__logo {
  height: 89px;
  width: 255px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .header {
    justify-content: center;
    padding-top: 24px;
    min-height: auto;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-top: 16px;
  }

  .header__logo {
    height: 60px;
    width: 170px;
  }
}
