.intro {
  padding-top: 64px;
  max-width: 984px;
  text-align: left;
}

.intro__title {
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  max-width: 900px;
  margin: 0;
}

.intro__content {
  margin-top: 32px;
}

.intro__text {
  max-width: 700px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  margin: 0;
}

.intro__author {
  max-width: 690px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  text-align: right;
  margin: 0;
}

.intro__text-note {
  max-width: 670px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 32px;
}
