.lead {
    text-align: center;
    padding-top: 91px;
}

.lead__title {
    font-size: 76px;
    line-height: 82px;
    font-weight: 900;
    margin: 0;
}

.lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    margin: 32px auto 64px;
    max-width: 640px;
}

.lead__image {
    width: 100%;
    max-width: 100%;
    height: auto;
}