.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;

  max-width: 1184px;
  margin: 0 auto;
  padding-top: 118px;
  width: 100%;
}

.photo-grid__item {
  position: relative;
  margin: 0;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.photo-grid__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
